@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .color {
    color: #F00;
  }
}

.keyText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
}

.disNameAndDef {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
}

.infoTitle {
  font-size: 20px;
}

.infoType {
  cursor: pointer;
}

.infoText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  fill: #ffffff;
}

body {
  background-image: url("../img/mapOfearth.png");
}

.standardSize {
  height: 600px;
  float: left;
}

/*Container info*/

.boxSecInfo {
  height: 100px;
}

.boxInfo {
  min-width: 500px;
  margin-left: 10px;
}

.elem {
  cursor: pointer;
}

.elemText {
  cursor: pointer;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.elemTextGone {
  cursor: default;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
